.airspace-side-nav-bar { 
    background-color: rgb(247, 249, 250);
    height: 100vh !important;
    width: 100%;
}
.airspace-side-nav-bar-group {
    background-color: rgb(247, 249, 250);
}

.sideBarPortalSwitcher {
    position: absolute;
    /* bottom: 10px; */
    width: 100%;
}
