@import '../node_modules/antd/dist/antd.css';
.airspace-submit-button {
  color: white !important;
  border-color: white !important;
  background-color: #f07c94 !important;
}
.airspace-submit-button:hover {
  color: #f07c94 !important;
  background-color: white !important;
  border-color: #f07c94 !important;
}
.airspaceColor {
  color: #f07c94 !important;
}

.wide-table { 
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.wide-button { 
  width: 80%;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
}